[data-theme="default-dark"]  {
  --hns-app-hue: 0;
  --hns-app-background: hsl(0, 0%, 0%);
  --hns-app-text-color: #f1f1f1;
  --hns-border-color-default: hsla(var(--hns-app-hue), 30%, 70%, .6);
  --hns-panel-fill-default: #333;
}