:root  {
  /* Global app colors */
  --hns-app-background-color: hsl(0, 0%, 100%);
  --hns-app-text-color: #222;
  --hns-app-line-color: hsla(0, 0%, 80%, 80%);
  --hns-border-color: #d9d9d9;

  /* TOKENS */
  --hns-fill-contrast-25: #f2f2f2;
  --hns-fill-contrast-50: #e5e5e5;
  --hns-fill-contrast-75: #d9d9d9;
  --hns-fill-contrast-100: #cccccc;
  
  /* ISLAND */
  --hns-island-background-color: #fff;
  --hns-island-text-color: var(--hns-app-text-color);
  --hns-island-line-color: var(--hns-app-line-color);
}

