.hns-button {
  padding: var(--gutter);
  background-color: var(--hns-button-background, lightGray);
  color: var(--hns-button-text-color, black);
  text-decoration: none;
  padding-inline: var(--hns-box-padding-inline);
  padding-block: var(--hns-box-padding-block);
  border-radius: 0.25rem;
  transition: .2s ease-in-out;
  font-weight: 400;
  display: inline-block;
}

.hns-button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 0 4px 0 rgba(0,0,0,0.2);
}

.hns-button-cta {
  --hns-button-background: mediumblue;
  --hns-button-text-color: white;
}

.hns-button-tiny {
  --hns-box-padding-inline: .9rem;
  --hns-box-padding-block: 0.2rem; 
  font-size: .75rem;
  border-radius: 3em;
}