html {
  --hns-container-neutral-fill: #d9d9d9;
  --hns-container-neutral-text: #111;
  --hns-container-neutral-heading: #111;
  --hns-container-neutral-border: #111;
  --hns-container-neutral-shadow: #111;
}

