h1,h2,h3,h4,h5,h6,p {
  font-size: 1rem;
  line-height: inherit;
  margin: 0;
}

.hns-heading {
  font-family: var(--hns-heading-font, sans-serif);
  font-weight: var(--hns-heading-weight, 600);
  color: var(--hns-heading-color, #333);
}

.hns-text--contrast {
  font-weight: var(--hns-text-contrast-weight, 600);
}
