:root {
	--hns-text-font: 'poppins';
	--hns-heading-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* --hns-heading-color: #222; */
	/* --hns-app-background: #fff; */
}
h1,h2,h3,h4,h5,h6,p {
  font-size: 1rem;
  line-height: inherit;
  margin: 0;
}

.hns-heading {
  font-family: var(--hns-heading-font, sans-serif);
  font-weight: var(--hns-heading-weight, 600);
  color: var(--hns-app-text-color);
}

.hns-text--contrast {
  font-weight: var(--hns-text-contrast-weight, 600);
}

/* Autobot
 * Center a child element within
 * it's bounding box.
-------------------------------------- */

.hns-l-autobot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--hns-gutter, 1.5rem);
}

.hns-split {
  container: container / inline-size;
}

@container container (min-width: 75ch) {
  .hns-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--hns-gutter, 2.5rem);
  }
}

.hns-split-rev > *:first-child {
  grid-column: 2;
}

.hns-split-rev > *:last-child {
  grid-column: 1;
  grid-row: 1;
}

/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em;
} */

:root {
  /* Structure */
  --hns-gutter: 2rem;
  --hns-container-padding: min(4vw, 4rem);
  --hns-box-padding-inline: 2rem;
  --hns-box-padding-block: 1rem;
  --hns-section-spacing: 2rem;
  --hns-section-page-spacing: 8rem;
  --hns-stack-spacing-small: calc(var(--hns-gutter) / 4);

}

[data-typetheme="inter"]  {
  --hns-heading-font: 'Inter', sans-serif;
}

[data-typetheme="august"]  {
    --hns-heading-font: 'August', sans-serif;
}

[data-typetheme="barlow"]  {
  --hns-heading-font: 'Barlow', sans-serif;
}

[data-typetheme="bendicion"]  {
  --hns-heading-font: 'Bendicion', sans-serif;
}

[data-typetheme="bigilla"]  {
  --hns-heading-font: 'Bigilla', sans-serif;
}

[data-typetheme="brand"]  {
  --hns-heading-font: 'brand', sans-serif;
}

[data-typetheme="chomsky"]  {
  --hns-heading-font: 'chomsky', sans-serif;
}

[data-typetheme="corben"]  {
  --hns-heading-font: 'Corben', sans-serif;
}

[data-typetheme="dmSerifDisplay"]  {
  --hns-heading-font: 'DM Serif Display', sans-serif;
}

[data-typetheme="dugasPro"]  {
  --hns-heading-font: 'Dugas Pro', sans-serif;
}

[data-typetheme="squadaOne"]  {
  --hns-heading-font: 'Squada One', sans-serif;
}

[data-typetheme="editorialNew"]  {
  --hns-heading-font: 'Editorial New', sans-serif;
}

[data-typetheme="formulaCondensed"]  {
  --hns-heading-font: 'Formula Condensed', sans-serif;
}

[data-typetheme="frKrakenSlab"]  {
  --hns-heading-font: 'FF Kraken Slab', sans-serif;
}

[data-typetheme="leMurmure"]  {
  --hns-heading-font: 'Le Murmure', sans-serif;
}

[data-typetheme="mak"]  {
  --hns-heading-font: 'Mak', sans-serif;
}

[data-typetheme="mattone"]  {
  --hns-heading-font: 'Mattone', sans-serif;
}

[data-typetheme="migha"]  {
  --hns-heading-font: 'Migha', sans-serif;
}

[data-typetheme="ericaOne"]  {
  --hns-heading-font: 'Erica One', sans-serif;
}

/* Themes */

:root  {
  /* Global app colors */
  --hns-app-background-color: hsl(0, 0%, 100%);
  --hns-app-text-color: #222;
  --hns-app-line-color: hsla(0, 0%, 80%, 80%);
  --hns-border-color: #d9d9d9;

  /* TOKENS */
  --hns-fill-contrast-25: #f2f2f2;
  --hns-fill-contrast-50: #e5e5e5;
  --hns-fill-contrast-75: #d9d9d9;
  --hns-fill-contrast-100: #cccccc;
  
  /* ISLAND */
  --hns-island-background-color: #fff;
  --hns-island-text-color: var(--hns-app-text-color);
  --hns-island-line-color: var(--hns-app-line-color);
}

[data-theme="default-dark"]  {
  --hns-app-hue: 0;
  --hns-app-background-color: hsl(0, 0%, 0%);
  --hns-app-text-color: #f1f1f1;
  --hns-app-line-color: #000;
}

[data-theme="hns-dark"]  {
  --hns-app-background-color: hsl(120, 100%, 25%);
  --hns-app-text-color: #f1f1f1;
  --hns-app-border-color: hsla(var(--hns-app-hue), 30%, 70%, .6);
}

[data-theme="hns-light"]  {
  --hns-app-hue: 60;
  --hns-app-background-color: hsl(60, 13%, 95%);
  --hns-app-text-color: #366836;
  --hns-app-line-color: hsla(var(--hns-app-hue), 30%, 70%, .6);

  --hns-island-background-color: #fff;
}

[data-theme="hns-light"] .hns-heading {
  font-weight: 900;
}

[data-theme="hns-light"] .hns-button-cta {
  --hns-button-background: #EFD654;
  --hns-button-text-color: var(--hns-app-text-color);
}

[data-theme="purple-dark"]  {
  --hns-app-hue: 246;
  --hns-app-background-color: hsl(246, 85%, 13%);
  --hns-app-text-color: #f1f1f1;
  --hns-line-color: hsla(var(--hns-app-hue), 30%, 70%, .6);  
}

[data-theme="purple-dark"] .hns-button-cta {
  --hns-button-background:rgb(255,203,244);
  --hns-button-text-color: #0b053d;
}

[data-theme="purple-light"]  {
  --hns-app-hue: 313;
  --hns-app-background: hsl(313, 100%, 90%);
  --hns-app-text-color: #0b053d;
  --hns-border-color-default: hsla(var(--hns-app-hue), 30%, 70%, .6);
  --hns-panel-fill-default: hsl(313, 50%, 80%);

  
}

[data-theme="hns-light"] .hns-button-cta {
  --hns-button-background:#0b053d;
  --hns-button-text-color: var(--hns-app-text-color);
}

.hns-display-block {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--hns-app-background-color, #fff);
  color: var(--hns-app-text-color, #444);
  font-size: var(--hns-font-size, 100%);
  line-height: var(--hns-line-height, 1.5);
  font-family: var(--hns-text-font, sans-serif);
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: min(max(16px, 16px + 1vw), 24px);
}

img,video,iframe {
  max-inline-size: 100%;
  block-size: auto;
  /* Modern smartphone */
  aspect-ratio: 6/13; 
  /* Medium format still camera / socials */
  aspect-ratio: 6/6; 
  /* Traditional tv & computer monitor standard */
  aspect-ratio: 4/3; 
  /* Classic 35mm still photographic film */
  aspect-ratio: 3/2; 
  /* Used to create an acceptable picture on both 4:3 and 16:9 televisions  */
  aspect-ratio: 14/9; 
  /* A common computer screen ratio */
  aspect-ratio: 16/10; 
  /* Golden ratio */
  /* aspect-ratio: 1.6180/1;  */
  /* Common European widescreen standard */
  /* aspect-ratio: 5/3;  */
  /* HD Video Standard */
  /* aspect-ratio: 16/10; */
  /* Widescreen cinema */
  /* aspect-ratio: 1.85/1; */
  /* A common US widescreen cinema standard */
  /* aspect-ratio: 1.85/1; */
  /* Current widescreen cinema standard */
  /* aspect-ratio: 2.4/1; */





  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

.hns-box-link {
  display: inline-block;
  border-radius: .25rem;
  padding-inline: .5rem;
  padding-block: .25rem;
}

.hns-align-content-center {
  display: flex;
  align-content: center;
}

.hns-footer {
  margin-top: auto;
}

.hns-footer {
  padding-block: var(--hns-padding-block, 1rem);
  border-top: 1px solid #d9d9d9;
}


.settings.svelte-11ixtog{position:fixed;left:2rem;bottom:2rem}