[data-theme="hns-light"]  {
  --hns-app-hue: 60;
  --hns-app-background-color: hsl(60, 13%, 95%);
  --hns-app-text-color: #366836;
  --hns-app-line-color: hsla(var(--hns-app-hue), 30%, 70%, .6);

  --hns-island-background-color: #fff;
}


[data-theme="hns-light"] .hns-heading {
  font-weight: 900;
}

[data-theme="hns-light"] .hns-button-cta {
  --hns-button-background: #EFD654;
  --hns-button-text-color: var(--hns-app-text-color);
}