.hns-nav-list ul {
  list-style: none;
  color: inherit;
  margin: 0;
  padding:0;
}

.hns-nav-list a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: .15s ease-in-out;
}

.hns-nav-list a:hover {
  background-color: hsla(var(--hns-app-hue), 30%, 70%, .1);
  color: var(--hns-nav-list-hover-color);
}

.hns-nav-list a:active {
  transform: scale(.98);
}

