[data-typetheme="inter"]  {
  --hns-heading-font: 'Inter', sans-serif;
}
[data-typetheme="august"]  {
    --hns-heading-font: 'August', sans-serif;
}
[data-typetheme="barlow"]  {
  --hns-heading-font: 'Barlow', sans-serif;
}
[data-typetheme="bendicion"]  {
  --hns-heading-font: 'Bendicion', sans-serif;
}
[data-typetheme="bigilla"]  {
  --hns-heading-font: 'Bigilla', sans-serif;
}
[data-typetheme="brand"]  {
  --hns-heading-font: 'brand', sans-serif;
}
[data-typetheme="chomsky"]  {
  --hns-heading-font: 'chomsky', sans-serif;
}
[data-typetheme="corben"]  {
  --hns-heading-font: 'Corben', sans-serif;
}
[data-typetheme="dmSerifDisplay"]  {
  --hns-heading-font: 'DM Serif Display', sans-serif;
}
[data-typetheme="dugasPro"]  {
  --hns-heading-font: 'Dugas Pro', sans-serif;
}
[data-typetheme="squadaOne"]  {
  --hns-heading-font: 'Squada One', sans-serif;
}
[data-typetheme="editorialNew"]  {
  --hns-heading-font: 'Editorial New', sans-serif;
}
[data-typetheme="formulaCondensed"]  {
  --hns-heading-font: 'Formula Condensed', sans-serif;
}
[data-typetheme="frKrakenSlab"]  {
  --hns-heading-font: 'FF Kraken Slab', sans-serif;
}
[data-typetheme="leMurmure"]  {
  --hns-heading-font: 'Le Murmure', sans-serif;
}
[data-typetheme="mak"]  {
  --hns-heading-font: 'Mak', sans-serif;
}
[data-typetheme="mattone"]  {
  --hns-heading-font: 'Mattone', sans-serif;
}
[data-typetheme="migha"]  {
  --hns-heading-font: 'Migha', sans-serif;
}
[data-typetheme="ericaOne"]  {
  --hns-heading-font: 'Erica One', sans-serif;
}